<header>
  <!-- navbar -->
  <nav class="navbar d-flex align-items-center justify-content-left pl-3 pl-lg-5">
    <h1 id="logo">Things4Sale</h1>

    <div class="products-categories-title mt-4 mb-4">
      <a href="/login" class="btn btn-yellow" role="button" aria-pressed="true">log out</a>
    </div>

  </nav>
  <!-- end of navbar -->

  <div class="top-banner d-flex align-items-center justify-content-left pl-3 pl-lg-5">
    <div>
      <h1 class="text-capitalize text-yellow text display-4">sell your stuff</h1>
      <p class="text-muted w-50">With Things4Sale you can effortlessly get rid of the things you no longer need. Our
        user
        friendly classifieds site allows you to easily post what you choose to sell and filter through things you'd
        like
        to buy. Things4Sale, it's in the name.
      </p>
    </div>
  </div>
</header>

<!-- products -->
<section class="products">
  <div class="container-fluid">
    <div class="row">
      <!-- product info -->
      <div class="col-10 col-md-5 col-lg-3 my-3 px-5 text-capitalize">
        <!-- categories -->
        <div class="products-categories-title mt-4 mb-4">
          <h5 class="text-uppercase" alt="search by categories">search by categories</h5>
          <div class="products-categories-underline"></div>
        </div>
        <!-- single link -->
        <a href="/index/Main" class=" d-block products-categories-links">
          <p class="mb-0">all</p>
        </a>
        <!-- single link -->
        <a href="/index/appliances" class=" d-block products-categories-links">
          <p class="mb-0">appliances</p>
        </a>
        <a href="/index/auto" class=" d-block products-categories-links">
          <p class="mb-0">auto</p>
        </a>
        <!-- single link -->
        <a href="/index/books" class=" d-block products-categories-links">
          <p class="mb-0">books</p>
        </a>
        <!-- single link -->
        <a href="/index/electronics" class=" d-block products-categories-links">
          <p class="mb-0">electronics</p>
        </a>
        <!-- single link -->
        <a href="/index/furniture" class=" d-block products-categories-links">
          <p class="mb-0">furniture</p>
        </a>
        <!-- single link -->
        <a href="/index/instruments" class="d-block products-categories-links">
          <p class="mb-0">instruments</p>
        </a>
        <!-- single link -->
        <a href="/index/jewelry" class=" d-block products-categories-links">
          <p class="mb-0">jewelry</p>
        </a>
        <!-- single link -->
        <a href="/index/toys" class=" d-block products-categories-links">
          <p class="mb-0">toys</p>
        </a>

        <!-- create listing -->
        <div class="products-categories-title mt-4 mb-4">
          <a href="/create" class="btn btn-yellow" role="button" aria-pressed="true">Create New Listing</a>
        </div>

        <!-- remove listing -->
        <div class="products-categories-title mt-4 mb-4">
          <span class="btn btn-yellow">Remove Listing</span>
        </div>
      </div>
      <!-- end of product info -->

      <!-- products  -->
      <div class="col-10 mx-auto col-md-7 col-lg-9 my-3">
        <div class="row p-3 justify-content-center">

          {{#each items}}
          <div class="card shadow m-3" style="width: 350px;">
            <img class="card-img-top" src="{{imageUrl}}" style="max-height: 450px;" alt="image">
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>
              <p class="card-text">{{info}}</p>
              <p class="card-text">{{price}}</p>
              <h5 class="card-title">Contact</h5>
              <p class="card-text"><a href="mailto:{{user}}">{{user}}</a></p>
              <h5 class="card-title">Location</h5>
              <p class="card-text">{{zipCode}}</p>
            </div>
          </div>
          {{/each}}
 
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of products -->

<!-- bottom banner -->
<div class="bottom-banner">
</div>
<!-- end of bottom banner -->

<!-- footer -->
<footer class="footer">
  <div class="footer_container">
    <div>
      <h1 id="footer-logo">Things4Sale</h1>
    </div>
    <div class="footer-contact">
  
      <!-- single contact -->
      <div>
        <h6 class="text-white text-muted">delivered to you by</h6>
      </div>
      <!--end of single contact -->
      <h1 id="scramLogo">S.C.R.A.M.</h1>
    </div>
  
    <!-- single icon -->
    <div>
      <h5 class="text-white">connect <a href="https://github.com/cm3z4/SCRAM-Project-2" target="_blank" class="footer-icon"><i
            class="fab fa-github"></i></a> | <span class="text-white small text-muted">copyright&copy;2018</span></h5>
    </div>
    <!-- end of single icon -->
  </div>
</footer>